*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  [DM Sans](https://fonts.google.com/specimen/DM+Sans);
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsl(27, 66%, 92%);
    width: 100%;
    height: 100vh;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container .main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container .main-container .header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: hsl(10, 79%, 65%);
    border-radius: 10px;
    padding: 20px 20px;
    margin-bottom: 15px;
    font-weight: bold;
    color: #fff;
    text-transform: capitalize;
}
.container .main-container .header .left-header p{
    padding-top: 10px;
}
.container .main-container .header .left-header .balance{
    font-size: 25px;
}
.container .main-container .section-container{
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: space-between;
    min-height: 50vh;
    border-radius: 10px;
    padding: 10px 20px;
}
.container .main-container .section-container h1{
    padding-bottom: 30px
}
.container .main-container .section-container .chart{
    border-bottom: 1px solid rgb(150, 150, 150);
    padding-top: 20px;
}
.container .main-container .section-container .footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 10px;
    color: hsl(25, 47%, 15%);
}
.container .main-container .section-container .footer .right-footer{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;
}
.container .main-container .section-container .footer .right-footer p{
    padding-top: 5px;
}
.container .main-container .section-container .footer .left-footer p{   
  padding-top: 10px;
}